body {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100vw;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

header {
    background-color: #1F2937;
    padding: 2rem;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.leftLinks > * {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.headerCard {
    color: #F9FAF8;
    margin-top: 0;
    padding: 1rem;
    width: 300px;
    flex-shrink: 0;
}

.headerCard h2 {
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
}

.headerContainerBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    flex-wrap: wrap-reverse;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 24px;
    box-shadow: none;
    border: none;
    border-radius: 16px;
}

.clientTestHead {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.testContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5vh 10vw;
    max-width: 1200px;
    margin: auto;
}

.clientCard figcaption {
    margin-top: 16px;
    width: 150px;
}

.clientPic {
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.quoteBox {
    width: 100%;
    background-color: #E5E7EB;
    padding: 2%;
    font-size: 24px;
    font-style: light italic;
    display: flex;
    justify-content: center;
}

.quoteCard {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.quoteName {
    display: block;
    text-align: right;
    font-weight: 600;
}

.callToActionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #3882F6;
    color: #F9FAF8;
    width: 50vw;
    padding: 1rem;
    border-radius: 16px;
}

.callToActionContainer h2 {
    margin-bottom: 0;
    padding: 0;
}
 
.CTAcard {
    width: 30%;
}

.CTAbutton {
    border: 2px solid #F9FAF8;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 10px;
}